
:focus {
    outline: 0;
}

/* General
 * -----------------------------------------------------------
 */
h1,
h2,
h3 {
    font-weight: normal;
    color: #333332;
    line-height: 1.1em;
}

h1 {
    display: inline-block;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 0.2em;
}

a {
    text-decoration: none;
    color: #007aed;
}

body {
    /* too cheap to pay for legit font */
    font-family: 'Poly', serif;
    font-size: 20px;
    background-color: #edebe8;
}

blockquote {
    margin: 0;
}

blockquote h1 {
    padding: 20px 40px 20px 60px;
    position: relative;
    background-color: #eee;
    border-radius: 10px;
}

blockquote h1:before {
    content: "\201C";
}

blockquote h1:after {
    content: "\201D";
}

.container {
    width: 100%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 15px;
}

.clear {
    clear: both;
}

/* Page
 * ---------------------------------------------------------
 */
.page-container {
    width: 100%;

    background: #fdfdfd;
    border: 1px solid #cbc9c7;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px 0 35px 0;
    padding: 2.25% 4.5% 4.5% 4.5%;
}

pre.prettyprint {
    font-size: 13px;

    background: #f8f8f8;
    line-height: 1.5em;
    padding: 10px;

    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;

    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.fluid-width-video-wrapper {
    margin-bottom: 25px;
}

/* Header
 * ------------------------------------------------------------
 */

body article header {
    max-width: 600px;

    border-left: solid 1px #eee;
    margin: 0 auto;
    padding: 10px;
    padding-left: 50px;

}

#avatar {
    width: 100px;
    height: 250px;

    display: block;
    float: left;
    position: relative;

    text-align: center;
    margin-top: 55px;

    -webkit-border-radius: 95px;
    -moz-border-radius: 95px;
    border-radius: 95px;

    overflow: hidden;
}

/* we live in a magical age people,
 * a magical age ..
 */
@media (max-width: 1000px) {
    #avatar {
        display: none;
    }
}

#header-nav nav {
    width: auto;

    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    margin: 0;
    padding: 24px 0;
}

#header-nav nav ul {
    line-height: 1.8em;
    /* love google font */
    font-family: "PT Sans", sans-serif;
    font-size: 16px;

    list-style: none;
    list-style-image: none;
}

#header-nav nav ul li {
    display: inline-block;
    text-align: center;
}

#header-nav nav a {
    color: #5d5d5d;
    padding: 0 1.5em;
}

/*
 * Posts
 * ------- ------- ------- ------- ------- ------- -------
 *
 */
 
.articles img {
    max-width: 100%;
    verticle-align: middle;
}

.articles p {
    line-height: 1.5em;
    margin: 0 0 25px;
    font-family: "PT Sans", sans-serif;

    color: #333332;
}

.articles article {
    margin-top: 48px;
}

.articles footer {
    font-size: 11px;
    font-style: normal;
    font-family: "PT Sans", sans-serif;

    text-align: center;
    color: #5d5d5d;

    margin-top: 25px;
    border-top: 1px solid #f5f5f5;
    padding-top: 12px;
}

.articles footer .delimiter {
    padding: 0 12px;
    color: #fdfdfd;
}

/*
 *
 * Archive
 *
 * ===============================================================
 */

#archive li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    margin-bottom: 10px;
    list-style: none;

    font-family: "PT Sans", sans-serif;
    line-height: 1.8em;
    font-size: 16px;
}

#archive time {
    margin-right: 20px;
    display: inline-block;
    width: 120px;
    text-align: right;
    color: #aaa;
}

/*
 * Navigation
 *
 * ===============================================================
 */

nav.pagination {
    padding: 0;
    height: 48px;
    max-width: 1000px;
    margin: 0 auto 72px;

    font-family: "PT Sans", sans-serif;

}

nav.pagination ul {
    display: block;
    width: auto;
    overflow: hidden;

    list-style: none;
    list-style-image: none;
}

nav.pagination ul li {
    font-size: 20px;
    color: #5d5d5d;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    float: right;
    text-align: right;
    white-space: nowrap;
}

nav.pagination li.current {
    float: left;
    text-align: left;
}

nav.pagination li.prev {
    padding-right: 24px;
}

nav.pagination li.next {
    padding-left: 24px;
}

body {
    padding: 0;
}

/*
 *
 *
 *
 *  COPY PASTED STYLES
 *
 *
 *
 */

/* Alert */

#alert {
    left: 0;
}

#alert:hover:after {
    background: hsla(0,0%,0%,.8);
    border-radius: 3px;
    color: #f6f6f6;
    content: 'Click to dismiss';
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 120px;
}

#alert:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}
#alert:target {
    display: none;
}
.alert {
    background-color: #c4453c;
    background-image: -webkit-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.05) 25%,
                      hsla(0,0%,0%,.05) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.05) 75%,
                      hsla(0,0%,0%,.05));
    background-image: -moz-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -ms-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -o-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    left: 0;
    width: 100%;
    -webkit-animation: alert 1s ease forwards;
       -moz-animation: alert 1s ease forwards;
        -ms-animation: alert 1s ease forwards;
         -o-animation: alert 1s ease forwards;
            animation: alert 1s ease forwards;
}

div .alert p {
    margin: 0;
}

/* Animation */

@-webkit-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
