{% extends "backend/base.html" %}
{% block content %}
<a href="{{ url_for('backend.create_post')}}">Create new post</a>
<section class="postlist">
    <table class="table table-striped table-bordered">
        <thead>
            <th>Id</th>
            <th>Title</th>
            <th>Published</th>
            <th>Created</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.pid }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.published }}</td>
            <td>{{ post.create_date|datetime }}</td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
