<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Poly|PT+Sans'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/styles/github.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css')}}" />-->
    {% block extracss %}{% endblock %}
    <title>Paul Xue</title>
</head>
{% if motd %}
<div id="alert">
    <a href="#alert" class="alert">{{ motd.permalink|parsemd|safe }}</a>
</div>
{% endif %}
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <div class="page-container">
        <section class="home">
            <article>
                <aside id="avatar">
                    <a href="/">
                        <image id="logo" src="{{ url_for('static', folder='images', filename="images/logo_small.jpg" )}}"></image>
                    </a>
                </aside>
                <header>
                    <h1>My name is Paul Xue. I work at
                        <a href="http://www.chango.com"> Chango.</a>
                        I am a <a href="http://www.linkedin.com/in/paulxue">Software Developer</a>.
                        <!--<a href="http://twitter.com/pxue"> Tweet </a>me.-->
                        This is my <a href="https://github.com/pxue"> Github</a>.
                    </h1>
                </header>
                <!--I feel like this should be in the header tag-->
                <div id="header-nav">
                    <nav class="main-nav">
                        <ul>
                            <li><a href="/">Blog</a></li>
                            <li><a href="/archive">Archive</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </nav>
                </div>
            </article>
        </section>
        {% block content %}{% endblock %}
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.3/jquery.fitvids.min.js"></script>
    <!--<script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
    {% block extrajs %}{% endblock %}
</body>
</html>
